@import "bourbon";
@import "neat";
$background-color: #353535;
$background-color-dark: black;
$background-color-front: #353535;
$font-color: #cecece;
$font-color-dark: #666666;

$font-sanserif: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
$font-serif: $georgia;

body {
  font: 14px $font-sanserif;
  color: $font-color;
  background-color: $background-color;
  margin: 0;
}

h1, h2, h3 {
    font-family: $font-serif;
    font-weight: normal;
}

a {
	color: #737373;
	text-decoration: none;
}
a:hover{
	text-shadow:0 0 12px #ffffff;
	color: #CCCCCC;
	/*text-decoration: underline;*/
}

.midSection {
    @include outer-container;
    background-image: url("../images/background.gif");
    margin-top: 0;
    padding-top: 1em;
}

header {
    background-color: $background-color-dark;
    height: 8em;

    svg {
        float: left;
    }

    aside {
        float: right;
        margin-right: 25px;
        margin-top: 10px;
    }

    menu {
        float: right;
        clear: right;
        margin-top: 3.5em;
        margin-right: 1em;

        a {
            font: 1.3em $font-serif;
            width: 70px;
            display: block;
            float: left;
        }

        a.selected {
            color: white;
        }
    }

    .name {
        font-size: 5em;
        fill: white;
        font-family: $font-serif;
    }

    .occupation {
        font-size: 1.2em;
        color: $font-color-dark;
        fill: $font-color-dark;
        font-family: $font-serif;
    }
}

/* SOCIAL :D */
a.social {
	font-size: 10px;
	margin: 0 10px 0 10px;
}

.twitter-button {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: url('../images/twitter.png');
	background-repeat: no-repeat;
}

.linkedin-button {
	padding-left: 24px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: url('../images/linkedin.png');
	background-repeat: no-repeat;
}

/* FOOTER :D */

footer {
    margin-top: 10px;
    border-top: 2px solid #161516;
    padding-top: 20px;
    margin-left: 40px;
    margin-right: 40px;

    * {
        white-space: nowrap; 
        
    }

    p {
        @include span-columns(4);
        margin-top: 0;
        font-size: 0.8em;
    }
    .center {
        @include span-columns(4);
        
        * {
            margin-left: auto;
            margin-right: auto;
            width: 100px;
            display: block;
        }
    }

    .right {
        @include span-columns(4);
        
        * {
            float:right;
        }
    }
}

/* BLOG! :D */
$blogPostHorizontalPadding: 3em;
article.blog{
    @include outer-container;
    padding-left: $blogPostHorizontalPadding;
    padding-right: $blogPostHorizontalPadding;
    margin-bottom: 50px;
    h1 {
        color: $font-color-dark;
        margin-bottom: 1px;
        font-size: 2.5em;
    }
    time {
        color: $font-color-dark;
    }
}

/* GAMES! :D */
section.games {
    margin-top: 2.5em;
    margin-bottom: 5em;
}

article.game {
    height: 350px;
    background-color: $background-color-dark;
    margin-bottom: 2em;
    iframe {
        background-color: black;
        border: 0;
    }
    h1 {
        text-align: center;
        font-size: 3em;
        margin-top: 0.1em;
    }
    p {
        font-size: 1.2em;
    }
    .gameTextArea {
        @include span-columns(4);
        @include pad();
    }
    .video {
        @include span-columns(8);
    }
}

article.game:nth-child(even) .gameTextArea {
    float: left;
}

article.game:nth-child(odd) .gameTextArea{
    float: right;
}