mixin menuItemSelected(currentPage, uri, title)
    if(currentPage == true)
        a(href=uri).selected !{title}
    else
        a(href=uri) !{title}

header
    svg(height="100" width="700")
        text(x="20" y="98" class="name") Johan Bernhardsson
        text(x="530" y="56" class="occupation") Game Developer
    aside
        a(href="http://twitter.com/jbernhardsson").twitter-button.social.selected Twitter
        a(href="http://linkedin.com/in/jbernhardsson").linkedin-button.social.selected LinkedIn
    menu
        +menuItemSelected(isBlogPage, "/", "Home")
        +menuItemSelected(isGamesPage, "/games", "Games")