mixin menuItemSelected(currentPage, uri, title)
    if(currentPage == true)
        a(href=uri).selected !{title}
    else
        a(href=uri) !{title}

header
    aside
        a(href="http://twitter.com/jbernhardsson").twitter-button.social.selected Twitter
        a(href="http://linkedin.com/in/jbernhardsson").linkedin-button.social.selected LinkedIn