extends layout

block content
    section.games
        each game in games
            article.game
                //iframe(width="620" height="349" src=game.youtubeLink frameborder="0" allowfullscreen)
                .gameTextArea
                    h1=game.title
                    != game.content
                .game-wrapper
                    //iframe(src="http://www.youtube.com/embed/" + game.youtubeLink + "?showinfo=0&iv_load_policy=3&controls=0" frameborder="0" allowfullscreen)
                    .youtube(id=game.youtubeLink)
    script(src="https://labnol.googlecode.com/files/youtube.js")