extends layout

block content
    section.games
        each game in games
            article.game
                .gameTextArea
                    h1=game.title
                    != game.content
                .game-wrapper
                    .pretty-embed(data-pe-videoid=game.youtubeLink data-pe-fitvids="true" data-pe-custom-preview-image="images/thumbs/" + game.youtubeLink + ".jpg")
    script(type='text/javascript').
        $().prettyEmbed()