extends layout

block content
    section.games
        each game in games
            article.game
                .gameTextArea
                    h1=game.title
                    != game.content
                .game-wrapper
                    .youtube(id=game.youtubeLink)
    script(src="https://labnol.googlecode.com/files/youtube.js")