extends layout

block content
    section.games
        each game in games
            article.game
                .gameTextArea
                    h1=game.title
                    != game.content
                .game-wrapper
                    .pretty-embed(data-pe-videoid=game.youtubeLink data-pe-fitvids="true")
                    //.youtube(id=game.youtubeLink)
    script(type='text/javascript').
        $().prettyEmbed({ useFitVids: true, previewSize: "high" });