doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oswald')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway')
    link(rel='stylesheet', href='style/mobile.css')
    link(rel='stylesheet', href='style/desktop.css' media="(min-width:70em)")
    if(env === "development")
        script(src="http://127.0.0.1:35729/livereload.js")
    script(src="js/vendor/jquery-1.11.2.min.js")
    script(src="js/vendor/jquery.waitforimages.min.js")
    script(src="js/vendor/jquery.fitvids.js")
    script(src="js/vendor/jquery.prettyembed.min.js")
    != LRScript
    include ./google_analytics.pug
  body
    .midSection
        include ./header.pug
        block content
        footer
            .box
                p Copyright &copy; 2015 Johan Bernhardsson
            .box
                a(href="https://twitter.com/jbernhardsson").twitter-button.social.selected Follow me on twitter
            .box
                a(href="https://linkedin.com/in/jbernhardsson").linkedin-button.social.selected View my profile on LinkedIn