doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    != LRScript
    include ./google_analytics.jade
  body
    .midSection
        include ./header.jade
        block content
        footer
            p Copyright &copy; 2015 Johan Bernhardsson
            .center
                a(href="http://twitter.com/jbernhardsson").twitter-button.social.selected Follow me on twitter
            .right
                a(href="http://linkedin.com/in/jbernhardsson").linkedin-button.social.selected View my profile on LinkedIn