@import "bourbon";
@import "neat";
header {
    background-color: $background-color-dark;
    height: 11em;
    background-image: url("../images/logo_desktop.svg");
    background-repeat: no-repeat;
    background-position: center;

    display: block;
    
    /*aside {
        float: right;
        margin-right: 25px;
        margin-top: 10px;
    }*/
    aside {
        padding-top: 8.5em;
        float: none;
        margin:auto;
        width:200px;
    }
}
