@import "bourbon";
@import "neat";
header {
    background-color: $background-color-dark;
    height: 6em;

    background-image: url("../images/logo_mobile.svg");
    background-repeat: no-repeat;
    background-position: center;

    aside {
        padding-top: 4em;
        float: none;
        margin:auto;
        width:200px;
    }
}